.input-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.input-field {
    width: 100%;
    padding: 8px 0;
    border: none;
    background: none;
    font-size: 16px;
    color: #000;
    outline: none;
}

.input-field::placeholder {
    color: #999;
    font-size: 14px;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: #6200ff;
    z-index: 2;
    transition: width 0.3s ease-out, left 0.3s ease-out, transform 0.3s ease-out;
}

.underline-placeholder {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background: rgb(176, 176, 176);
    transition: width 0.3s ease-out, left 0.3s ease-out, transform 0.3s ease-out;
}

.input-container.focused .underline {
    width: 100%;
    left: 0;
    transform: none;
}