.videosContainer {
    padding: 30px;
    overflow-y: scroll;
    width: 100%;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width: 650px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 651px) and (max-width: 850px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 851px) and (max-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) and (max-width: 1700px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1700px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

